torch==1.4.0
tensorflow==2.1.0
diffusers
transformers
peft==0.7.0
huggingface-hub>=0.29.2
pandas>=2.2.3
numpy
pillow
scikit-image
pyyaml>=5.1
requests
pytz>=2020.1
psutil
safetensors
markdown>=2.6.8
protobuf!=4.24.0,>=3.19.6
ftfy==6.3.1
wcwidth
tensorboard==2.19.0
jinja2
pyparsing
six
filelock
